.home {
  #contents-section {
    position: relative;
    background-image: asset-data-url('resting_above_treeline_large.jpg');
  }

  #about-section {
    padding-bottom: 100px;
    padding-top: 50px;
  
    .about-image-container-me {
      display: block;
      text-align: center;

      .img-responsive {
        display: inline;
      }
    }

    .copy {
      width: 100%;
    }
  }
}