.home {
  #contents-section {
    position: relative;
    background-image: asset-data-url('resting_above_treeline_large.jpg');
  }

  .contents-section-navigation-item {
    max-height: 25%;
    position: absolute;
    @include transition(all 500ms ease);
    width: 25%;

    /* 
     * NOTE: The following styles area specific to the number of links 
     * shown on the home page.  They're fragile.  And will need to be 
     * updated if/when more links are needed.
     */

    &.first {
      left: 5%;
      top: 5%;
      z-index: 2;
    }

    &.second {
      left: 20%;
      top: 15%;
      z-index: 1;
    }

    &.third {
      left: 35%;
      top: 5%;
      z-index: 2;
    }

    &.fourth {
      left: 50%;
      top: 15%;
      z-index: 3;
    }

    &.fifth {
      left: 40%;
      top: 50%;
      z-index: 2;
    }

    &.sixth {
      left: 55%;
      top: 60%;
      z-index: 1;
    }

    &.fade-out {
      opacity: 0;
      z-index: 4;
    }

    &.fade-up {
      opacity: 1;
    }
  }

  .contents-section-navigation-item-link {
    border-width: 1px;
    margin: 0;
    padding-top: 1rem;
    width: auto;

    .img-responsive {
      display: inline-block;
      margin: 0 auto;
      width: 100%;
    }
  }

  .contents-section-navitation-item-link-title {
    display: block;
    padding: 0.5rem 0 0rem 0;
  }

  #about-section {
    padding-bottom: 100px;
    padding-top: 50px;
  
    .about-image-container-me {
      display: block;
      text-align: center;

      .img-responsive {
        display: inline;
      }
    }

    .copy {
      width: 100%;
    }
  }
}