/**
 * Font styles for all pages of d-low.com.
 */

@import url(http://fonts.googleapis.com/css?family=Passion+One);

/* 
 * Override from Bootstrap's scaffolding for proper rem sizing.
 * See: http://snook.ca/archives/html_and_css/font-size-with-rem
 */
html {
  font-size: $font-size-base;
}

body { 
  font-size: inherit;
}

h1, h2, h3, h4, h5, h5 { 
  text-align: center;
}

// TODO: Use bootstrap's heading font size convention
h1 {
  font-size: 4rem;
  line-height: 4.25rem;
}

h2 { 
  font-size: 3rem;
  line-height: 3.25rem;
}

h3, h4, h5, h6 { 
  font-size: 2rem;
  line-height: 2.25rem;
}

#site-header {
  color: $header_gray;
  text-transform: lowercase;

  h1 {
    line-height: 4rem;
  }

  small {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.88rem;
    line-height: 0.88rem;
  }
}