/**
 * This file contains the global variables that are used in base styles. 
 */

/* Colors */

$light_gray: #cccccc;

/* Bootstrap global varaiables. */

$text-color: #444444;
$font-family-base: 'Trebuchet MS', Arial, sans-serif;