/**
 * Styles for the home page of d-low.com.
 */

.home {

  /* 
   * TODO: The styles for the welcome section and header may be used on all 
   * pages.  If so, we'll need to refactor the CSS below.  On the home page the
   * welcome section will take up the whole view port initially, but on other 
   * pages of the site, it will be smaller.
   */
   
  #welcome-section {
    background: asset-data-url('wendy_descending_saddle_between_watrous_and_woods.jpg') 50% 0px no-repeat fixed;
    background-size: cover;
  }

  #welcome-section-header { 
    position: fixed;
    right: 0%;
    text-align: center;
    top: 10%;
    width: 100%;
    z-index: 10;

    @media only screen and (min-width: $screen-sm-min) { 
      right: 5%;
      text-align: right;
      width: auto;
    }
  } 

  #welcome-section-header h1 { 
    margin-bottom: 10px;
    text-shadow: -2px 0 2px #000066;
  }

  #welcome-section-header small { 
    padding-right: 5px;
  }
}