/**
 * Styles for the home page of d-low.com.
 */

.home {

  /* 
   * TODO: The styles for the welcome section and header may be used on all 
   * pages.  If so, we'll need to refactor the CSS below.  On the home page the
   * welcome section will take up the whole view port initially, but on other 
   * pages of the site, it will be smaller.
   */

  #welcome-section {
    background: asset-data-url('wendy_descending_saddle_between_watrous_and_woods.jpg') 50% 0px no-repeat fixed;
    background-size: cover;
    min-height: 30rem;
  }

  #welcome-section-header { 
    position: fixed;
    right: 0%;
    text-align: center;
    top: 10%;
    width: 100%;

    @media only screen and (min-width: $screen-sm-min) { 
      right: 5%;
      text-align: right;
      width: auto;
    }
  } 

  #welcome-section-header h1 { 
    margin-bottom: 10px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
  }

  /*
   * TODO: The contents section is used on the mobile pages to navigate back to
   * the home page or start of each section page.  These styles will need to be
   * moved to a different location and renamed since they'll be used site wide
   * for mobile devices.  There will be different site wide navigation for
   * non-mobile devices.
   */

  #contents-section {
    // @include gradient-vertical(#4B76B9, rgba(255, 255, 255, 0.0), 0, 100%);
    background: asset-data-url('resting_above_treeline.jpg') bottom left no-repeat;
    background-size: cover;
    min-height: 15rem;
    padding: 1rem 0 14rem 0;

    @media only screen and (min-width: $screen-sm-min) { 
      position: relative;
    }
  }
  
  .contents-section-navigation-item {
    list-style: none;
  }

  .contents-section-navigation-item-link {
    @include gradient-vertical(#999999, #ffffff, 0%, 100%);
    border: 2px solid #666666;
    border-radius: 5px;
    @include box-shadow(0px 5px 10px 1px rgba(0, 0, 0, 0.3));
    color: #303030;
    display: block;
    font-weight: bold;
    margin: 0 auto 1rem auto;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
    width: 80%;

    &:link,
    &:visited,
    &:hover,
    &:active { 
      color: #303030;
      text-decoration: none;
    }

    &.tapped {
      @include gradient-vertical(#ffffff, #999999, 0%, 100%);
    }

    .img-responsive {
      display: none;
    }
  }

  @media only screen and (min-width: $screen-sm-min) { 

    .contents-section-navigation-item {
      max-height: 25%;
      position: absolute;
      @include transition(all 500ms ease);
      width: 25%;

      /* 
       * NOTE: The following styles area specific to the number of links 
       * shown on the home page.  They're fragile.  And will need to be 
       * updated if/when more links are needed.
       */

      &.first {
        left: 5%;
        top: 5%;
        z-index: 2;
      }

      &.second {
        left: 20%;
        top: 15%;
        z-index: 1;
      }

      &.third {
        left: 35%;
        top: 5%;
        z-index: 2;
      }

      &.fourth {
        left: 50%;
        top: 15%;
        z-index: 3;
      }

      &.fifth {
        left: 40%;
        top: 50%;
        z-index: 2;
      }

      &.sixth {
        left: 55%;
        top: 60%;
        z-index: 1;
      }

      &.fade-out {
        opacity: 0;
        z-index: 4;
      }

      &.fade-up {
        opacity: 1;
      }
    }

    .contents-section-navigation-item-link {
      border-width: 1px;
      margin: 0;
      padding-top: 1rem;
      width: auto;

      .img-responsive {
        display: inline-block;
        margin: 0 auto;
        width: 100%;
      }
    }

    .contents-section-navitation-item-link-title {
      display: block;
      padding: 0.5rem 0 0rem 0;
    }
  }

  #about-section {
    padding-top: 2rem;

    .about-image-container {
      background-color: $light_gray;
      border: 1px solid $border_gray;
      @include box-shadow(0px 5px 10px 1px rgba(0, 0, 0, 0.3));
      margin: 0 auto 1rem auto;
      width: 90%;
    }

    .about-image-container {
      padding: 1rem;
    }

    .about-image-container-me {
      display: none;
    }

    .about-image-container-family {
      margin-top: 2rem;
    }

    .copy {
      width: 90%;
      margin: 0 auto 1rem auto;
     
      &.first:first-letter {
        font-size: 3rem;
      }
    }
  }

  @media only screen and (min-width: $screen-sm-min) { 
    #about-section {
      padding-bottom: 100px;
      padding-top: 50px;
    
      .about-image-container-me {
        display: block;
        text-align: center;

        .img-responsive {
          display: inline;
        }
      }

      .copy {
        width: 100%;
      }
    }
  }
}