.allow-post-overflow {
  overflow-x: hidden;
}

.post {
  width: 95%;
  margin: 0 auto 2rem auto;
  padding-bottom: 1rem;
}

.post-content {
  overflow: hidden;

  &.collapsed {
    max-height: 150px;
  }

  b:first-child {
    display: block;
    font-family: $headings-font-family;
    font-size: 1.75rem;
    font-weight: normal;
    text-align: center;
  }
}

.post-content-toggle {
  display: block;
  color: $almost_black;
  font-weight: bold;
  margin: 0.5rem 0 1rem 0;
  text-align: center;
  text-decoration: underline;

  &:hover, 
  &:focus {
    color: darken($almost_black, 15%);
  }
}

.post-image-container {
  background-color: $off_white;
  padding: 0.5rem 1rem 0.5rem 0;
  text-align: center;
  vertical-align: top;
  width: 50%;

  &:last-child {
    padding-right: 0;
  }
}

.post-images-last-row .post-image-container {
  padding-top: 0;
}

.post-image-caption {
  display: block;
  font-size: 0.8rem;
  line-height: 1rem;
  margin-top: 0.5rem;
}