.allow-post-overflow {
  overflow-x: hidden;
}

.post {
  width: 95%;
  margin: 0 auto 2rem auto;
  padding-bottom: 1rem;
}

.post-content {
  overflow: hidden;

  &.collapsed {
    max-height: 150px;
  }

  .post-content-subtitle,
  b:first-child {
    display: block;
    font-family: $headings-font-family;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.75rem;
    text-align: center;
  }
}

.post-content-toggle {
  display: block;
  color: $almost_black;
  font-weight: bold;
  margin: 0.5rem 0 1rem 0;
  text-align: center;
  text-decoration: underline;

  &:hover, 
  &:focus {
    color: darken($almost_black, 15%);
  }
}

.post-image-container {
  background-color: $off_white;
  text-align: center;
  vertical-align: top;
}

.post-image { 
  margin: 0 auto;
}

.post-image-caption {
  display: none;
}