#site-header {
  background: asset-data-url('wendy_descending_saddle_between_watrous_and_woods.jpg') 50% 0px no-repeat fixed;
  background-size: cover;
  min-height: 30rem;
}

#site-header-logo {
  position: fixed;
  right: 0%;
  text-align: center;
  top: 10%;
  width: 100%;

  h1 { 
    margin-bottom: 10px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
  }
}