%section.post
  %h1= post.title
  %h2= post.date
  %div.content!= post.content
  %ul
    - post.images.each do |image|
      %li
        %figure
          %img{:src => custom_image_path(image.relative_thumbnail_path),
            :alt => image.caption,
            :data => {:largeimage => image.relative_path}}
          %figcaption= image.caption
